body {
	padding: 70px 100px 20px  100px;
/*  padding-top: 50px;
  padding-left: 100px;
*/}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
li {
	padding-bottom: 7px;
	list-style: none;
}
h1 {
	padding-bottom: 10px;
}
.tarea {
	width: 200px;
}

.btn {
	padding: 3px;
	margin: 3px;
}

/*
. head


*/