{% extends 'base.html.twig' %}
{% block body %}

	<h1>TaskApp System _Alpha</h1>
	<hr />

	{% if app.user %}
		<h3>Bienvenido {{ app.user.nombre }}</h3>
		<br />

		<p>Mantente atento a las actualizaciones!!!</p>
		<p>Pronto tendremos un dashboard con tus tareas pendientes para que puedas dar un servicio mas eficiente.</p>
	{% else %}
		<h3>Tienes un Usuario?</h3>
		<p>Perfecto, por que no <a href="{{ path('login') }}">Accedes al Sistema</a>.</p>

		<h3>Aún no tienes un Usuario?</h3>
		<p>Que esperas? <a href="{{ path('crear_usuario') }}">Registrate</a></p>
	{% endif %}
{% endblock %}