{% extends 'base.html.twig' %}

{% block titulo %}Nuevo Ticket{% endblock %}
{% block menu_ticket %}class="active"{% endblock %}

{% block body %}
<h1>Crear Nuevo Ticket</h1>
<div class="subheader">
    <a type="button" class="btn btn-danger" href="{{ path('lista_tickets') }}">Volver</a>
</div>
<br />
    <div class="panel-heading full-width left">


    </div>

{% endblock %}